.game-result h2 {
  color: white;
  margin: 0 0 10px;
}

.game-result h3 {
  color: #d9534f; 
  margin: 10px 0;
}

.botoes {
  display: flex;
  gap: 10px; 
}

p{
  color: lightgrey;
}
